.inicio {
  position: absolute;
  border: none;
  padding: 1rem;
  text-align: center;
  font-size: small;
  cursor: pointer;
  width: 50px;
  margin: 5px;
  height: 55 px;
  color: #ffffff;
  margin-left: 5px;
  border-radius: 20px;
  background-color: rgb(9, 98, 98);
  border-style: inset;
  border-bottom-color: black;
  border-left-color: black;
  border-top-color: gray;
  border-right-color: gray;
  border-width: 2px;
}
.desplegables {
  display: flex;
  position: relative;
  left: 500px;
}
.boton {
  border: none;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  width: 150px;
  margin: 5px;
  height: 55 px;
  color: #ffffff;
  margin-left: 5px;
  border-radius: 20px;
  background-color: rgb(9, 98, 98);
  position: relative;
  border-style: inset;
  border-bottom-color: black;
  border-left-color: black;
  border-top-color: gray;
  border-right-color: gray;
  border-width: 2px;
}

.links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  padding: 1rem;
  border-radius: 20px;
  font-size: small;
  text-align: center;
}
.links {
  background-color: #fff;
  width: 170px;
  display: none;
  border-radius: 20px;
}
.links a:hover {
  background-color: gray;
}
.desplegable:hover .links {
  display: block;
}

.search-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 50%;
  /* transform: translateY(50%); */
}

/* .search-icon:hover{
  opacity: 0;
} */

.search {
  top: 5px;
  position: relative;
}

.search-input {
  width: 60px;
  height: 20px;
  color: #ffffff;
  padding: 1rem;
  opacity: 0;
  transition: all 0.5s ease;
  border-radius: 20px;
  background-color: rgb(9, 98, 98);
  position: relative;
  z-index: 1000;
}

.search-input::placeholder {
  color: #ffffff;
}
.search-input:hover {
  width: 100%;
  opacity: 1;
}

.search-input:focus {
  width: 100%;
  opacity: 1;
}

.search-icon:hover {
  opacity: 0;
}
