.carrousel {
  width: 90%;
  max-width: 120em;
  padding: 2em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec),
    inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
}
.carrousel .big {
  width: 200%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec),
    inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 2em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .img {
  width: calc(100% / 5 - 2em);
  min-height: 10vh;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec),
    inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .points {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .point {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal),
    -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent,
    inset 0 0 0 transparent;
}

.carrousel .point.activo {
  background-color: rgb(0, 18, 117);
}
