.boton {
  border: none;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  width: 120px;
  color: #000000;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.links a {
  text-decoration: none;
  width: 100px;
  color: rgb(0, 0, 0);
  display: block;
  padding: 13px;
  border-radius: 10px;
}
.links {
  background-color: #fff;
  width: 120px;
  display: none;
  border-radius: 10px;
}
.links a:hover {
  background-color: gray;
}
.desplegable:hover .links {
  display: block;
}
